.ganttVerticalContainer {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 1; 
}
