.scrollWrapper {
  position: absolute;
  right: -20px;      /* pushes scrollbar OUTSIDE the Gantt view */
  width: 20px;       /* enough room for thumb */
  overflow: visible; /* allow scrollbar to escape the container */
  z-index: 20;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}
.scroll::-webkit-scrollbar-corner {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  background: rgba(0, 0, 0, 0.2);
  background: var(--palette-black-alpha-20, rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  background-clip: padding-box;
}
.scroll::-webkit-scrollbar-thumb:hover {
  border: 4px solid transparent;
  background: rgba(0, 0, 0, 0.3);
  background: var(--palette-black-alpha-30, rgba(0, 0, 0, 0.3));
  background-clip: padding-box;
}
